/emacs.org_archive
/.cask/25.1.1/bootstrap/archives/gnu/archive-contents
/emacs.el
*~
/network-security.data
/org-caldav*
/eshell
/custom.el
/bookmarks
/.org-id-locations
.cask
/tramp
/var
/url/cookies
/.emacs.desktop
/oauth2.plstore
/*.el#
*.pandoc
/diary
elpa/*
.cache*
/.trello/
/elpy/
/etc/elegant-emacs/
/*.eln
/.last-package-update-day
/forge-database.sqlite
/org-roam.db
*.log
/eaf/
/eln-cache/
